@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --bg-color: #40a2d8;
}

body {
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* estilos que se repetem */
.content {
  display: flex;
  flex-direction: column;
}

.container {
  height: 30%;
  width: 33%;
  background-color: white;
  border-radius: 16px;
  position: relative;
  transition: height 0.5s;
}

.container-search-city {
  align-items: center;
  justify-content: center;
}

.container-search-city label {
  font-size: 2em;
  display: block;
  text-align: center;
}

.container-search-city label p {
  rotate: 90deg;
}

.container-search-city {
  padding: 1.5em;
}

.container-search-city input {
  padding: 10px;
  font-size: 16px;
}

.not-found {
  display: none;
  text-align: center;
}

.error404,
.img {
  width: 50%;
}

.container-search-city input::placeholder {
  text-transform: capitalize;
  width: 100%;
  font-size: 16px;
}

.container-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#btnSubmit {
  background-color: #fae7f3;
  border: 2px solid transparent;
  transition: border 0.3s;
  display: flex;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  padding: 8px 10px;
  cursor: pointer;
}

#btnSubmit:hover {
  color: #fff;
  background-color: rgb(30, 30, 30);
  border: 2px solid #2e5fb4;
}

footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  bottom: 0;
  justify-content: center;
  width: 100%;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-size: 32px;
}

.weather-container {
  width: 100%;
  display: none; /**none  para flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.weather-container div {
  display: flex;

  gap: 50px;
}

.weather-details {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: none;

  justify-content: space-around;
}

.humidity {
  display: flex;
  gap: 10px;
}

.wind {
  gap: 10px;
  display: flex;
}

.humidity-text,
.wind-text {
  visibility: hidden;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.text span {
  visibility: hidden;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    width: 80%;
    max-width: 700px;
  }
}

@media screen and (max-width: 520px) {
  .container {
    width: 100%;
  }

  .img {
    width: 60%;
  }
  .container-search-city input {
    width: 50%;
  }

  .container-search-city input::placeholder {
    color: transparent;
  }

  .container-search-city label p {
    display: none;
  }

  .icon {
    width: 40px;
  }
}
